<!--include header-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Application</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <!-- Header -->
        <header id="header">
            <nav>
                <div class="container">
                    <div class="text-center">
                        <a href="/" class="nav-brand text-dark">User Management System</a>
                    </div>
                </div>
            </nav>
        </header>
    <!-- /Header -->
<!--include header-->
    <!--Main Site-->
    <main id="site-main">
        <div class="container">
           <div class="box-nav d-flex-justify-between">
               <a href="/add-user" class="border-shadow">
                   <span class="text-gradient">New user<i class="fa-solid fa-user-secret"></i></span>
               </a>
           </div>
           <!--form handling-->
           <form action="/" method="POST">
              <table>
               <thead class="thead-dark">
                   <tr>
                       <th>ID</th>
                       <th>Name</th>
                       <th>@Email</th>
                       <th>Gender</th>
                       <th>Status</th>
                       <th>Action</th>
                   </tr>
               </thead>
               <tbody>
                <%for(let i=0;i<users.length;i++){%>
                <tr>
                    <td><%=i+1%></td>
                    <td><%=users[i].name%></td>
                    <td><%=users[i].email%></td>
                    <td><%=users[i].gender%></td>
                    <td><%=users[i].status%></td>
                    <td>

                        <!-- <a href="/update-user" class="btn border-shadow update"> -->
                            <!-- instead of update-user let call the id -->
                            <a href="/update-user?id=<%= users[i]._id %>" class="btn border-shadow update">
                                <span class="text-gradient">
                                  <i class="fas fa-pencil-alt" id="edit" data-id="<%= users[i]._id %>"></i>
                                </span>
                                <a href="#" class="btn border shadow delete" data-id="<%= users[i]._id %>">
                                    <span class="text-gradient"><i class="fas fa-times" id="delete"></i></span>
                                  </a>
                                  

                    </td>
                </tr> 
               <%}%>
               </tbody>
              </table>
           </form>

        </div>
      </main>
   <!--Main Site-->
<!--include footer-->
</body>
</html>
<!--include footerr-->